@use "../styles/abstract/variaveis";
@use "../styles/abstract/mixins";

header {
  background: variaveis.$gradiente-primario;
  padding: 2rem;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    .linha {
      border-top: 1px solid black;
      width: 80%;
    }
    ul {
      display: inline-flex;
      gap: 3rem;
      li {
        list-style-type: none;
        &:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease;
          font-weight: 700;
        }
      }
      a {
        text-decoration: none;
        @include mixins.ff-fs-cl(
          variaveis.$ft-textos,
          1.375rem,
          variaveis.$cor-primaria
        );
        font-weight: 500;
      }
    }
  }
}
#home {
  max-width: 1040px;
  @include mixins.margem-central(80%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .textos-home {
    max-width: 464px;
    h1 {
      font-size: 42px;
      color: variaveis.$cor-primaria;
      margin-bottom: 2rem;
      font-family: variaveis.$ft-titulos;
      span {
        color: variaveis.$cor-secundaria;
      }
    }
    .btn-main {
      width: 280px;
      height: 66px;
      border-radius: 40px;
      border: none;
      background-color: variaveis.$cor-secundaria;
      color: white;
      font-size: 1.3rem;
      font-style: variaveis.$ft-textos;
      cursor: pointer;
      margin: 2rem 0;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
      }
    }
  }
}
.img-home {
  max-width: 474px;
  img {
    width: 100%;
  }
}
