@use "../styles/abstract/mixins";
@use "../styles/abstract/variaveis";

#nosso-espaco {
  @include mixins.margem-central(80%);
  .detalhes {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 6.375rem;
    padding: 2rem 0;
    .imgs-espaco {
      max-width: 508px;
    }
    .espaco-textos {
      @extend .imgs-espaco;
      .titulo {
        @include mixins.ff-fs-cl(
          variaveis.$ft-titulos,
          1.375rem,
          variaveis.$cor-secundaria
        );
        width: 80%;
        font-weight: 500;
      }
      .infos {
        @include mixins.ff-fs-cl(
          variaveis.$ft-textos,
          1.2rem,
          variaveis.$cor-primaria
        );
      }
      .separador {
        width: 100%;
      }
    }
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}
