@use "../abstract/variaveis";
@use "../abstract/mixins";

#desconto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  h4 {
    @include mixins.ff-fs-cl(
      variaveis.$ft-titulos,
      1.6rem,
      variaveis.$cor-primaria
    );
    font-weight: 500;
  }
  p {
    @include mixins.ff-fs-cl(
      variaveis.$ft-textos,
      1.375rem,
      variaveis.$cor-primaria
    );
  }
  .input-btn {
    $largura-input: 790px;
    width: $largura-input;
    height: 65px;
    border: 1px solid variaveis.$cor-quaternaria;
    border-radius: 65px;
    margin: 0 auto;
    display: inline-flex;
    input {
      @include mixins.ff-fs-cl(
        variaveis.$ft-textos,
        1.375rem,
        variaveis.$cor-primaria
      );
      width: calc($largura-input * 0.65);
      border: none;
      outline: none;
      margin-left: 2rem;
    }
    button {
      @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.375rem, white);
      width: calc($largura-input * 0.35);
      background: variaveis.$cor-default;
      border-radius: 0 65px 65px 0;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: variaveis.$cor-secundaria;
      }
    }
  }
}
