@use "../abstract/variaveis";
@use "../abstract/mixins";

small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: #e8f5c8;
  margin: 5rem 0 0 0;
  @include mixins.ff-fs-cl(
    variaveis.$ft-textos,
    0.938rem,
    variaveis.$cor-primaria
  );
}
